html,
.App {
  font-family: "Source Code Pro", monospace;
  background-color: #6b705c;
  color: white;
}

.titulo {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9e9e8d;
}

.row {
  margin: 3%;
  display: flex;
  justify-content: space-evenly;
}

.EditHeading {
  background-color: #7a7a67;
  padding: 8px;
  margin-bottom: 0;
  font-size: medium;
}

textarea {
  background-color: #a5a58d;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

.PrevHeading {
  background-color: #cb997e;
  padding: 8px;
  margin-bottom: 0;
  font-size: medium;
}

#preview {
  background-color: #ffe8d6;
  color: black;
  padding: 15px;
}

#preview pre {
  background-color: #333333;
  padding: 10px 25px 10px 25px;
  color: white;
}

#preview blockquote {
  font-size: large;
  border-bottom: solid 2px #cb997e;
}

#preview img {
  width: 5vw;
}
